<style>
  .error-container {
    text-align: center;
    margin-top: 50px;
  }

  .error-image {
    width: 50%;
    max-width: 400px;
  }

  .error-message {
    font-size: 24px;
    margin-top: 20px;
  }

  .home-link {
    display: block;
    margin-top: 20px;
    font-size: 18px;
  }
</style>

<div class="error-container">
  <h2>404 Error</h2>
  <p class="error-message">Page not found</p>
  <img class="error-image" src="/image/error.jpg" alt="Error image">
  <a class="home-link" href="/">Home Page</a>
</div>
